<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="/CICOHealth/src/main/webapp/assets/sass/main/profile/expert.css"
    />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/CICOHealth/src/main/webapp/assets/scripts/popup.js"></script>
    <script src="/CICOHealth/src/main/webapp/assets/scripts/profile/expertProfile.js"></script>

    <title>Expert Profile</title>
  </head>
  <body>
    <div class="profile">
      <div class="profile-header">
        <div class="profile-picture">
          <div class="img-wrapper">
            <img
              src="/CICOHealth/src/main/webapp/assets/img/book.png"
              alt="Profile Picture"
            />
          </div>
          <button class="button" id="btn-update-pfp">Update Photo</button>
        </div>
        <div class="profile-info">
          <h2 class="profile-name" id="username">User's Name</h2>
          <div class="form-group">
            <label for="expert-bio">Bio</label>
            <textarea
              name="expert-bio"
              id="expert-bio"
              cols="30"
              rows="10"
              style="resize: none"
            ></textarea>
          </div>
        </div>
        <div class="profile-actions">
          <button class="button" id="btn-update-profile">Save Changes</button>
        </div>
      </div>
      <div class="certs">
        <h2>Certifications</h2>
        <ul class="cert-list">
        </ul>
        <button class="button" id="btn-add-cert">Add</button>
        <div class="collapse">
          <form id="frm-add-cert" onsubmit="event.preventDefault();addCert();">
            <div class="form-group">
              <label for="new-cert-name">cert Name</label>
              <input type="text" name="cert-name" id="new-cert-name" />
            </div>
            <div class="form-group">
              <label for="new-cert-date">cert Date</label>
              <input type="date" name="cert-name" id="new-cert-date" />
            </div>
            <div class="form-group">
              <label for="new-cert-issuer">cert Issuer</label>
              <input type="text" name="cert-name" id="new-cert-issuer" />
            </div>
            <div class="form-group">
              <label for="new-cert-image">cert Image</label>
              <img src="https://res.cloudinary.com/cicohealth/image/upload/v1678676494/u0gewgadkqdwgu6fnuv1.png" alt="Certification photo" id="new-cert-image" width="300px" height="200px" />
              <a class="button" id="btn-upload-cert-img">Upload image</a>
            </div>
            <input type="submit" value="Submit" />
          </form>
        </div>
      </div>
    </div>

    <div class="pop-up" id="cert-detail">
      <div class="overlay"></div>
      <div class="pop-up-content">
        <div class="cert-details-header">
          <h2 class="cert-details-name">cert.certName</h2>
          <button class="button">X</button>
        </div>
        <div class="cert-details-body">
          <p class="cert-details-date">cert.certDate</p>
          <p class="cert-details-issuer">cert.certIssuer</p>
          <img src="cert.certPhoto" alt="Certificate Photo" />
        </div>
      </div>
    </div>

    <script
      src="https://upload-widget.cloudinary.com/global/all.js"
      type="text/javascript"
    ></script>
  </body>
</html>
