<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/CICOHealth/src/main/webapp/assets/sass/main/navbar.css">
    <title>Document</title>
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" data-toggle="open-navbar1">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <a href="/CICOHealth/">
                    <h4>CICO<span>Health</span></h4>
                </a>
            </div>

            <div class="navbar-menu" id="open-navbar1">
                <ul class="navbar-nav">
                    <li><a href="/CICOHealth/food-search">Food</a></li>
                    <li><a href="/CICOHealth/exercise-search">Exercise</a></li>

                    <li class="navbar-dropdown">
                        <a href="#" class="dropdown-toggler" data-dropdown="my-dropdown-id">
                            Utilities <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown" id="my-dropdown-id">
                            <li><a href="/CICOHealth/conversion">Conver Unit</a></li>
                            <li class="separator"></li>
                            <li><a href="/CICOHealth/timer">Timer</a></li>
                        </ul>
                    </li>

                    <li><a href="/CICOHealth/faq">FAQ</a></li>
                    <c:choose>
                        <c:when test="${sessionScope.user == null}">
                            <li><a href="/CICOHealth/login" class="nav-btn">Login</a></li>
                            <li><a href="/CICOHealth/register" class="nav-btn">Register</a></li>
                        </c:when>
                        <c:otherwise>
                            <li class="navbar-dropdown">
                                <a href="#" class="dropdown-toggler" data-dropdown="my-dropdown-id">
                                    User <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown" id="my-dropdown-id">
                                    <li><a href="/CICOHealth/user/profile">Profile</a></li>
                                    <li class="separator"></li>
                                    <li><a href="/CICOHealth/user/meal-logs">Meal Logs</a></li>
                                    <li class="separator"></li>
                                    <li><a href="/CICOHealth/user/exercise-logs">Exercise Logs</a></li>
                                    <li class="separator"></li>
                                    <li><a href="/CICOHealth/log-out">Log out</a></li>
                                </ul>
                            </li>
                        </c:otherwise>
                    </c:choose>
                </ul>
            </div>
        </div>
    </nav>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script>
    let dropdowns = document.querySelectorAll('.navbar .dropdown-toggler')
    let dropdownIsOpen = false

    // Handle dropdown menues
    if (dropdowns.length) {
        dropdowns.forEach((dropdown) => {
            dropdown.addEventListener('click', (event) => {
                let target = document.querySelector(`#${event.target.dataset.dropdown}`)

                if (target) {
                    if (target.classList.contains('show')) {
                        target.classList.remove('show')
                        dropdownIsOpen = false
                    } else {
                        target.classList.add('show')
                        dropdownIsOpen = true
                    }
                }
            })
        })
    }

    // Handle closing dropdowns if a user clicked the body
    window.addEventListener('mouseup', (event) => {
        if (dropdownIsOpen) {
            dropdowns.forEach((dropdownButton) => {
                let dropdown = document.querySelector(`#${dropdownButton.dataset.dropdown}`)
                let targetIsDropdown = dropdown == event.target

                if (dropdownButton == event.target) {
                    return
                }

                if ((!targetIsDropdown) && (!dropdown.contains(event.target))) {
                    dropdown.classList.remove('show')
                }
            })
        }
    })
</script>

</html>