@use "../mixins/common";
@use "../modules/popup";

#info-table {
  tbody tr {
    cursor: pointer;
    &:hover {
      background-color: #f5f5f5;
    }
  }
}

#create-log-form {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  max-height: 80vh;
  overflow-y: scroll;
  @include common.flex-display(column, normal, normal);
}

.btn-select {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  &:hover {
    background-color: #ccc;
  }
}
