@use "../mixins/common";
.pop-up {
  @include common.absolute-position();
  display: none;
  &.active {
    display: block;
    position: fixed;
  }
  & > * {
    position: relative;
    z-index: 5;
  }
  .overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include common.dimension(100vw, 100vh);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1 !important;
  }
  .content{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
  }
}

.edit-button{
    cursor:pointer;
}