/*Make an element display flex, specify the flex-direction , align items and justify content*/
/*Round the corners of an element*/
.no-scroll {
  height: 100%;
  overflow: hidden;
}

.pop-up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.pop-up.active {
  z-index: 1;
  display: block;
  position: fixed;
}
.pop-up > .pop-up-content {
  position: relative;
  z-index: 5;
}
.pop-up .overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1 !important;
}

* {
  box-sizing: border-box;
}

#meal-form {
  background-color: white;
  border-radius: 10px;
  width: auto;
  padding: 10px;
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: normal;
}
#meal-form .food-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#meal-form .food-item .food-item-name,
#meal-form .food-item .food-item-serving-weight,
#meal-form .food-item .food-item-calories,
#meal-form .food-item .food-item-protein,
#meal-form .food-item .food-item-carbs,
#meal-form .food-item .food-item-fat {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 10px 0;
}
#meal-form .btn-submit {
  background-color: rgb(131, 184, 46) !important;
  text-transform: uppercase;
  font-weight: 600;
}
#meal-form .btn-submit:hover {
  background-color: yellow !important;
}
#meal-form .sum {
  background-color: yellow;
  font-weight: 700;
}
#meal-form #table_id {
  border: 1px solid black;
  margin-bottom: 10px;
}
#meal-form #table_id thead {
  background-color: rgb(131, 184, 46);
  border: 1px solid black;
  text-align: center;
}
#meal-form #table_id td,
#meal-form #table_id th {
  border: 1px solid black;
  padding: 20px 10px;
}

main {
  width: 100%;
  height: 100%;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
}
.search-bar .search-bar-input * {
  font-size: 1.2rem;
}
.search-bar .search-bar-input input[type=search] {
  width: 30vw;
}
@media screen and (max-width: 600px) {
  .search-bar .search-bar-input input[type=search] {
    width: 80vw;
  }
}
.search-bar button {
  border: 0;
  border-radius: 10px;
  background-color: #f5f5f5;
  cursor: pointer;
}
.search-bar button * {
  font-size: 3rem;
}
.search-bar button:active {
  transform: scale(0.95);
}
.search-bar button:hover {
  background-color: yellow;
}

.search-results {
  display: grid;
  border: 3px solid black;
  margin: 0 20px;
  border-radius: 20px;
  padding: 14px;
  background-color: #f3f9cc;
}
@media (min-width: 1024px) {
  .search-results {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .search-results {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .search-results {
    grid-template-columns: 1fr;
  }
}
.search-results .search-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  border-radius: 16%;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0px 6px 3px 3px #666666;
  transition: all 0.3s ease-in-out;
}
.search-results .search-result.selected {
  background-color: rgba(229, 255, 58, 0.8392156863);
}
.search-results .search-result:hover {
  transform: scale(1.04);
}
.search-results .search-result .search-result-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1.6fr;
  padding: 20px 0;
}
.search-results .search-result .search-result-image {
  width: 100%;
  height: 100%;
  text-align: center;
}
.search-results .search-result .search-result-image img {
  width: 80%;
  height: 100%;
  border-radius: 20%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 220px;
}
.search-results .search-result .search-result-name {
  font-size: 2.2rem;
  font-weight: 600;
  margin: 10px 0;
  text-transform: uppercase;
}
.search-results .search-result .search-result-description {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: normal;
  line-height: 1.2rem;
  padding-left: 10px;
  cursor: auto;
  display: flex;
  justify-content: center;
  align-items: first baseline;
}
.search-results .search-result .search-result-description span {
  border-bottom: 1px solid black;
}
.search-results .search-result .search-result-button {
  margin: 10px 0;
  font-size: 1.5rem;
  cursor: pointer;
  width: 100%;
  height: 100%;
  width: 120px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  background-color: rgb(131, 184, 46);
  text-transform: uppercase;
  font-weight: 600;
}
.search-results .search-result .search-result-button:hover {
  transform: scale(1.05);
  background-color: yellow;
}
.search-results .table-content thead {
  background-color: rgb(131, 184, 46);
}/*# sourceMappingURL=foodsearch.css.map */