@use "../mixins/common";
@use "../modules/popup";

.prevent-scrolling {
    height: 100%;
    overflow: hidden;
}


.pop-up {
    .login-info-pop-up-content{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        background-color: #fff;
        z-index: 2;
        border-radius: 20px;
    }

    .txt-title-pop-up {
        text-align: center;
        font-weight: 800;
        padding: 20px;
    }

    .login-info {
        margin-top: 10%;
        height: 340px;
    }

    .form-group {
        margin-bottom: 8px;
    }

    .btn {
        margin-top: 10px;
        background-color: rgb(131, 184, 46);
        font-weight: 800;
        color: white;
    }
    .btn:hover{
        background-color: yellow;
        color: black;
        font-weight: 800;
    }
}

