@use "../mixins/common";
.prevent-scrolling {
    height: 100%;
    overflow: hidden;
}

.pop-up {
    @include common.absolute-position();
    display: none;

    &.active {
        display: block;
        position: fixed;
    }

    &>.pop-up-content {
        position: relative;
        z-index: 5;
    }

    .overlay {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include common.dimension(100vw, 100vh);
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1 !important;
    }

    .configure-pop-up-content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        background-color: #fff;
        z-index: 2;
        border-radius: 20px;
    }

    .txt-title-pop-up {
        text-align: center;
    }
}

.config-form{
    margin-bottom: 1rem;
}
h3{
    margin-top: 1rem;
}