body {
    background: #dddddd;
    margin: 24px;
  }
  
  .timer {
    font-family: sans-serif;
    display: inline-block;
    padding: 24px 32px;
    border-radius: 30px;
    background: white;
  }
  
  .timer__part {
    font-size: 36px;
    font-weight: bold;
  }
  
  .timer__btn {
    width: 50px;
    height: 50px;
    margin-left: 16px;
    border-radius: 50%;
    border: none;
    color: white;
    background: #8208e6;
    cursor: pointer;
  }
  
  .timer__btn--start {
    background: #00b84c;
  }
  
  .timer__btn--stop {
    background: #ff0256;
  }
  

  button{
    appearance: none;
	background: none;
	outline: none;
	border: none;
	cursor: pointer;

	margin: 0 0.5rem;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;

	color: #FFF;
	background-color: var(--primary);

	transition: 0.4s;
	user-select: none;  }

    button:hover {
        opacity: 0.7;
	background-color: var(--dark);

    }

    .btn{
        background: none;
        border: 2px solid #000;
        font-family: "montserrat", sans-serif;
        text-transform: uppercase;
        padding: 12px 20px;
        min-width: 200px;
        margin: 10px;
        cursor: pointer;
        transition: color 0.4s linear;
        position: relative;
    }

    .btn:hover{
        color: #FFF;
    }

    .btn::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        z-index: -1;
        transition: transform 0.5s;
        transform-origin: 0 0 ;
        transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    }

    #btn_diva::before {
        transform: scaleX(0);
    }  
    #btn_divb::before {
        transform: scaleY(0);
    }

    #btn_diva:hover::before {
        transform: scaleX(1);
    }  
    #btn_divb:hover::before {
        transform: scaleY(1);
    }  

    .divb {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }