.top-content {
    background-image: url('https://custom-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_1500,w_2000,f_auto,q_auto/92/Fpu4Kn6pkM7K14LvJqmX_aBxbZSl.jpg_xi9bds.jpg');
    object-fit: cover;
    width: 100%;
    height: 800px;
}

 .txt-left {
    margin-top: 20%;
    font-size: 30px;
}
