/*Make an element display flex, specify the flex-direction , align items and justify content*/
/*Round the corners of an element*/
.no-scroll {
  height: 100%;
  overflow: hidden;
}

.pop-up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.pop-up.active {
  z-index: 1;
  display: block;
  position: fixed;
}
.pop-up > .pop-up-content {
  position: relative;
  z-index: 5;
}
.pop-up .overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1 !important;
}

.button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  height: auto;
}

.pop-up .pop-up-content {
  padding: 20px;
  width: auto;
  background-color: #fff;
  border-radius: 20px;
}

/* Profile Header */
.profile-header {
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: normal;
  margin-bottom: 2rem;
  margin-top: 2%;
}
.profile-header .profile-picture {
  width: 8rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: normal;
}
.profile-header .profile-picture .img-wrapper {
  overflow: hidden;
  border-radius: 50%;
  min-height: 80%;
}
.profile-header .profile-picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.profile-header .profile-picture button {
  background-color: rgb(131, 184, 46);
  color: white;
  margin-top: 15px;
}
.profile-header .profile-picture button:hover {
  background-color: yellow;
  color: black;
}
.profile-header .profile-info {
  margin-left: 2rem;
  width: 100%;
  text-align: center;
}
.profile-header .profile-info .profile-name {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.profile-header .profile-info .form-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-header .profile-info .form-group label {
  font-size: 1.2rem;
  margin-right: 1rem;
}
.profile-header .profile-info .form-group textarea {
  margin-left: 10px;
  width: 100%;
  resize: none;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  padding: 0.5rem;
}
.profile-header .profile-info .profile-bio {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center !important;
}
.profile-header .profile-info .upload-picture-button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}
.profile-header .profile-info .picture-upload-input {
  display: none;
}
.profile-header .profile-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-header .profile-actions button {
  margin-left: 15px;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: rgb(131, 184, 46);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.profile-header .profile-actions button:hover {
  background-color: yellow;
  color: black;
}

/* Certifications */
.certifications {
  margin-bottom: 2rem;
}
.certifications h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.certifications ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.certifications ul .certification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.certifications ul .certification .certification-info .certification-name {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.certifications ul .certification .certification-info .certification-date {
  font-size: 1.2rem;
}
.certifications ul .certification .details-button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}
.certifications ul li .cert-wrapper .cert-info .cert-name {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.certifications ul li .cert-wrapper .cert-info .cert-issuer, .certifications ul li .cert-wrapper .cert-info .cert-date {
  font-size: 1.2rem;
  margin: 0;
}
.certifications ul li .cert-wrapper .cert-info .cert-issuer span, .certifications ul li .cert-wrapper .cert-info .cert-date span {
  font-weight: bold;
}

#frm-add-cert {
  display: flex;
  flex-direction: column;
}
#frm-add-cert input, #frm-add-cert img {
  width: 300px;
}
#frm-add-cert .button-submit {
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
}
#frm-add-cert .button-submit input {
  width: 100px;
}
#frm-add-cert .button-upload {
  margin: 10px 0;
  text-align: center;
  justify-content: center;
}

.certs .cert-list .cert {
  display: flex;
  justify-content: space-between;
}
.certs .cert-list .cert .cert-wrapper img {
  max-width: 450px;
  max-height: 300px;
  margin-right: 10% !important;
}
.certs .cert-list .cert .cert-wrapper .cert-info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Certification Details Popup */
.certification-details-popup {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.certification-details-popup .certification-details-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: normal;
  justify-content: space-between;
  padding: 1rem;
  background-color: #fff;
}
.certification-details-popup .certification-details-header .certification-details-name {
  font-size: 2rem;
  margin: 0;
}
.certification-details-popup .certification-details-header .close-button {
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
}
.certification-details-popup .certification-details-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: normal;
  padding: 2rem;
}
.certification-details-popup .certification-details-body .certification-details-date {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.certification-details-popup .certification-details-body .certification-details-issuer {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.certification-details-popup .certification-details-body img {
  max-width: 100%;
  margin-bottom: 1rem;
}

button {
  margin-left: 15px;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: rgb(131, 184, 46) !important;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
button:hover {
  background-color: yellow !important;
  color: black;
}

.frm-collapse {
  transform-origin: left top;
  transform: scaleY(0);
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.frm-collapse.show {
  transform: scaleY(1);
}
.frm-collapse #frm-add-cert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: normal;
  gap: 10px;
}

.cert-wrapper {
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: space-around;
}

#cert-update {
  width: 500px;
}/*# sourceMappingURL=expert.css.map */